.overall {
  margin-top: 8%;
}

table {
    width: 50%;
    text-align: left;
    margin: 50px auto 20px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    th {
      background-color: blueviolet;
      border: none;
      color: white;
      font-size: 20px;
      line-height: 40px;
    }
    tr {
      border: 1px solid #cac8c8;
      line-height: 30px;
    }

    tr:nth-child(even) {
      background-color: rgb(202, 200, 200);
    }
  }

  @media screen and (max-width: 1024px) {

    .overall {
      margin-top: 14%;
    }

    table {
      width: 80%;
      font-size: 20px;

      th {
        line-height: 50px;
      }

  tr {
    line-height: 40px;
  }
}
  }
 

  @media screen and (max-width: 430px) {

    .overall {
      margin-top: 24%;
    }

    table {
      font-size: 16px;
    }
     
}